<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.barberbookingapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MyServicesActivity"></activity>
        <activity android:name=".ApproveCustomerRequest" />
        <activity android:name=".Service_Provider_Account_Details" />
        <activity android:name=".Forget_password" />
        <activity android:name=".registration_form" />
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".ServiceProviderMainActivity" />
        <activity android:name=".CustomerDashBorad_MainActivity" />
        <activity android:name=".pop_up" />
        <activity android:name=".info_account" />
        <activity android:name=".History_data" />
        <activity android:name=".update_customer_data" />
        <activity android:name=".directions" />
        <activity android:name=".UpdateServiceProviderLocation" />

        <activity android:name=".PaymentRating"></activity>
        <activity android:name=".VerifyNumberWhileCreatingAccount"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>